* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1D2B;
}

.container {
    min-width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    font-family: "Poppins" , sans-serif;
}
.header {
    background-color: black;
    color: #fff;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 20px 20px 0 0;
    padding: 15px;
}
.securityCode{
    width: 100%;
    height: 250px;
    background-image: url("image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.securityCode p {
    text-align: center;
    line-height: 250px;
    font-size: 5vw;
    font-family: "Montserrat" , sans-serif;
    font-weight: bold;
    left: 10px;
    color: #fff;
    user-select: none;
}
.icons {
    position: absolute;
    bottom: 0;
    right: 5px;  
}
.icons .fas {
    color: white;
    font-size: 1.5rem;
    padding: 10PX 5PX;
    cursor: pointer;
    transition: 0.15s ea;
}
.icons .fas:hover{
    color: black;
}
.userInput {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.userInput input{
    border-radius: 20px 0 0 20px;
    outline: none;
    border: solid 1px gray;
    border-right: none;
    padding: 12px;
    width: 60%;
    font-size: 1.2rem;
}
.userInput .btn {
    border: none;
    outline: none;
    background: #1A1D2B;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: 1.5s ease;
    font-size: 1.2rem;
}
.userInput .btn:hover{
    background-color: black;
}
.modal{
    background-color: #FFF;
    position: absolute;
    top: 5px;
    display: none;
    width: 20%;
    justify-content: center;
}
.modal-header {
    display: flex;
    width: 50%;
    height: 10vh;
    padding: 10px 5px;
}
.div p {
    margin-bottom: 2px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height:20px ;
}
.close {
    position: absolute;
    background: white;
    border: none;
    right: 3px;
}